@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Online_Exam.Models.Users

@{
    ViewBag.Title = "Register";
}

<style>
    .custom-container {
        margin-top: 50px;
    }

    .custom-form {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .custom-input {
        border: 1px solid #ced4da;
        border-radius: 5px;
        padding: 8px;
        margin-bottom: 10px;
    }

    .custom-btn {
        background-color: #dc3545;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
    }

    .custom-link {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
    }
</style>

<div class="container custom-container">
    <div class="row justify-content-center">
        <div class="col-md-6 custom-form text-center">
            <h2>Register</h2>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <!-- Removed mx-auto class -->
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.U_Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.U_Email, new { htmlAttributes = new { @class = "form-control custom-input mx-auto d-block" } })
                            @Html.ValidationMessageFor(model => model.U_Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.U_FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.U_FullName, new { htmlAttributes = new { @class = "form-control custom-input mx-auto d-block" } })
                            @Html.ValidationMessageFor(model => model.U_FullName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.U_PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.U_PhoneNumber, new { htmlAttributes = new { @class = "form-control custom-input mx-auto d-block" } })
                            @Html.ValidationMessageFor(model => model.U_PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.U_Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.PasswordFor(model => model.U_Password, new { @class = "form-control custom-input mx-auto d-block" })
                            @Html.ValidationMessageFor(model => model.U_Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control custom-input mx-auto d-block" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                  </div>

                    <div class="form-group">
                        <div class="form-group">
                            <span class="form-group">
                                <img height="24" width="24" alt="" class="xz74otr" referrerpolicy="origin-when-cross-origin" src="https://static.xx.fbcdn.net/rsrc.php/v3/yC/r/a6OjkIIE-R0.png">
                            </span>
                            <span class="form-group" dir="auto">
                                <span class="form-group">Photo</span>
                                <span class="text-danger">@Html.ValidationMessageFor(model => model.U_Photo, "")</span>
                            </span>
                        </div>
                        <div class="form-group" data-visualcompletion="ignore"></div>
                        <input type="file" asp-for="U_Photo" name="U_Photo" accept="image/*">
                    </div>

                    <h5 style="color:red">@ViewBag.Message</h5>

                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <input type="submit" value="Register" class="btn btn-danger custom-btn" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Click here to Login", "Signin", new { @class = "custom-link" })
            </div>
        </div>
    </div>
</div>