@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Online_Exam.Models.Users

@{
    ViewBag.Title = "Login";
}

<style>
    .custom-container {
        margin-top: 20px;
    }

    .custom-form {
        margin-bottom: 20px;
    }

    .custom-input {
        margin-bottom: 20px;
    }

    .custom-btn {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .custom-link {
        margin-top: 10px;
        display: block;
    }
</style>

<div class="container custom-container">
    <div class="row justify-content-center">
        <div class="col-md-6 custom-form text-center">
            <h2>Login</h2>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.U_Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.U_Email, new { htmlAttributes = new { @class = "form-control custom-input mx-auto d-block" } })
                            @Html.ValidationMessageFor(model => model.U_Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.U_Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.PasswordFor(model => model.U_Password, new { @class = "form-control custom-input mx-auto d-block" })
                            @Html.ValidationMessageFor(model => model.U_Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <input type="submit" value="Login" class="btn btn-success custom-btn" />
                        </div>
                    </div>
                </div>
            }

            <div>
                <h8>Don't have an account?</h8>
                @Html.ActionLink("Signup", "Signup", new { @class = "custom-link" })
            </div>
        </div>
    </div>
</div>